@model DesignPlatform.ViewModels.AccountViewModels.CustomerChangePasswordViewModel

@{
    Layout = "_CustomerLayout";
}

<div class="profile">
    <div class="container pt-5 pb-5">

        <form asp-controller="Account" asp-action="ChangePassword">

            <h4 class="text-center">Change Password</h4>
            <hr>

            <div>
                <label>Old password:</label>
                <input asp-for="OldPassword" type="password" class="form-control">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
                <span>note: if this first time change your password leave this field empty.</span>
            </div>

            <div>
                <label>New password:</label>
                <input asp-for="NewPassword" type="password" class="form-control">
                <span class="text-danger" asp-validation-for="NewPassword"></span>

            </div>

            <div>
                <label>Confirm password:</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            </div>

            <button class="btn section-btn" type="submit">Change Password</button>
        </form>



    </div>
</div>