@model DesignPlatform.Models.Setting



<!-- Start Project Details -->
<div class="contact-us">

    <div class="header">
        <h1>About Us</h1>
    </div>

    <div class="container">
        @Html.Raw(Model.AboutUs)
    </div>



</div>
<!-- End Project Details -->